<div class="header">
    <span> &lsaquo; </span>
            <h1>Cargo Orders</h1>
            <span>🔔</span>
</div>

<div class="tabs">
    <span>Upcoming</span>
    <span>Completed</span>
    <span>Past</span>
</div>

<div class="buscador">
    <input type="text" placeholder="Buscar">
</div>


    <div class="lista">
        @for (pedido of datos(); track pedido._id){
        <div class="bloque">
            <p class="bloque__titulo">
                Order <span class="bloque__numero">#{{ pedido.order_number }}</span>
            </p>

            <div class="tarjeta">
                
                <div class="tarjeta__cabecera">
                    <span class="tarjeta__tipo"> {{ pedido.type }}</span>
                    <span class="tarjeta__estado"> {{ pedido.status_string }}</span>
                </div>

                <div class="tarjeta__cuerpo">
                    @if (cargaCompleta){
                        @for (destino of pedido.destinations; track destino.address){
                            <div class="fila">
                                <div class="fila__icono">📍</div>
                                <div class="fila__centro">
                                    <p class="fila__etiqueta"> {{ destino.nickname }}</p>
                                    <p class="fila__titulo">Ciudad</p>
                                    <p class="fila__detalle">{{ destino.address }}</p>
                                </div>
                                <div class="fila__derecha">
                                    <p class="fila__fecha">{{ destino.start_date }}</p>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="tarjeta__pie">
                    <button class="btn btn--secundario">Accion 1</button>
                    <button class="btn btn--principal">Accion 2</button>
                </div>
            </div>
        </div>
        }
    </div>
